flask
flask-sqlalchemy
flask-bcrypt
flask-session
flask-cors
python-dotenv
redis

# To install all dependencies needed in this api, use in server directory in terminal 'pip install -r ./requirements.txt'